---
const { title, link } = Astro.props;
---

<section class="section">
  <header>
    <h2 class="section__title">{title}</h2>
    <a href={link}>Vis alle</a>
  </header>
  <div class="section__content">
    <slot />
  </div>
</section>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section__content {
    display: grid;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
  }
</style>
